.offer-site__inputs,
.moderation-menu__inputs, .comment .comment__send, .menu .menu__buttons button:last-child, .menu .menu__buttons button:nth-child(2), .menu .menu__buttons button:first-child, .menu .menu__buttons, .menu .menu__list, .menu .menu__headline, [class^=reg-menu__], .reg-menu, .recommendation .recommendation__table, .recommendation, .avatar, .logo, .ping-bar, .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #002033;
  padding: 0px;
}

span,
h1,
h2,
tr {
  cursor: default;
}

button {
  cursor: pointer;
}

input {
  outline: 0;
  outline-offset: 0;
}

.avatar-icon {
  background-color: #C3F07F;
  border-radius: 50%;
}

.vuz-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.625rem;
  background: #ffffff;
  border-radius: 50%;
}
.vuz-logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.headline {
  font-size: min(7vw, 3rem);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #EEF8FB;
}

.ping-bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #2E4984;
  gap: 3px;
  border-radius: 10px;
}

.ping-bar__state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3px;
}

.ping-bar,
.ping-bar__state {
  overflow-x: hidden;
}

.green {
  background-color: #3BA55C;
}

.yellow {
  background-color: #A59A3B;
}

.red {
  background-color: #A53B3B;
}

.uptime,
.reports {
  font-family: "Raleway", sans-serif;
  font-size: 0.6875rem;
}
.uptime span:first-child,
.reports span:first-child {
  color: #7F8CA9;
}
.uptime span:last-child,
.reports span:last-child {
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 18.75rem;
  cursor: pointer;
  border: 1px solid rgba(246, 251, 253, 0.16);
  border-radius: 4px;
  background-color: #0C2B3D;
}
.dropbtn-wrapper img {
  padding: 1.3125rem 1.22rem;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.dropbtn-wrapper .active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dropbtn {
  width: 17.25rem;
  height: 3rem;
  padding-left: 13px;
  cursor: pointer;
  font-size: 1.125rem;
  text-align: left;
  border: none;
  border-right: 1px solid rgba(246, 251, 253, 0.16);
  background-color: #0C2B3D;
  color: rgba(246, 251, 253, 0.35);
}

.dropdown-content {
  width: 100%;
  position: absolute;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  background-color: #002033;
  border: 1px solid rgba(246, 251, 253, 0.16);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 3, 6, 0.08), 0px 8px 24px rgba(0, 3, 6, 0.32);
          box-shadow: 0px 4px 4px rgba(0, 3, 6, 0.08), 0px 8px 24px rgba(0, 3, 6, 0.32);
  border-radius: 4px;
  z-index: 1;
}
.dropdown-content span {
  display: block;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  margin: 0.625rem 0px;
  color: #EEF8FB;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.dropdown-content span:hover {
  background-color: rgba(246, 251, 253, 0.23);
}

.moderation {
  width: 10.625rem;
  height: 3.75rem;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #EEF8FB;
  background-color: #D09C17;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.625rem;
  background-color: #001A29;
  gap: 10px;
}
header .search-wrapper {
  margin-right: 0.5%;
}
header input {
  width: 100%;
  max-width: 16.25rem;
  height: 2.5rem;
  padding-left: 1.25rem;
  border: none;
  border: 1px solid rgba(246, 251, 253, 0.44);
  border-radius: 4px;
  background-color: #002033;
  color: #EEF8FB;
}
header input::-webkit-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
header input::-moz-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
header input:-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
header input::-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
header input::placeholder {
  color: rgba(246, 251, 253, 0.35);
}

.logo {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.logo .logo__icon {
  width: 3.75rem;
  height: 3.75rem;
}
.logo .logo__text span:first-child {
  display: inline-block;
  height: 3.625rem;
  font-size: 3rem;
  line-height: 4.6875rem;
  font-family: "Mukta", sans-serif;
  font-style: normal;
  letter-spacing: 0.7vw;
  color: #EEF8FB;
}
.logo .logo__text span:last-child {
  display: inline-block;
  height: 1.25rem;
  color: #006AA9;
  font-family: "Montserrat", sans-serif;
  padding-left: 0.75rem;
}

.menu-buttons,
.reg-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #EEF8FB;
  font-family: "Montserrat", sans-serif;
}

.menu-buttons {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main cabinet" "line line ";
  color: rgba(246, 251, 253, 0.6);
}
.menu-buttons .menu-buttons__wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main cabinet";
  height: 2.1875rem;
}
.menu-buttons .menu-buttons__main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  height: 1.25rem;
  grid-area: main;
  padding-right: 1rem;
  margin: auto;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
.menu-buttons .menu-buttons__cabinet {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  width: 8.75rem;
  height: 1.25rem;
  grid-area: cabinet;
  margin: auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.menu-buttons .active {
  height: 2.1875rem;
  color: #EEF8FB;
}
.menu-buttons .line-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: line;
}
.menu-buttons .line-wrapper .line {
  width: 2.5rem;
  height: 0.25rem;
  margin-left: 0.78125rem;
  border-radius: 4px 4px 0px 0px;
  background-color: #0F9FFF;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.menu-buttons .line-wrapper .active {
  margin-left: 8.125rem;
}
@-webkit-keyframes line-cabinet {
  0% {
    margin-left: 0.78125rem;
  }
  20% {
    margin-left: 0.125rem;
  }
  100% {
    margin-left: 8.125rem;
  }
}
@keyframes line-cabinet {
  0% {
    margin-left: 0.78125rem;
  }
  20% {
    margin-left: 0.125rem;
  }
  100% {
    margin-left: 8.125rem;
  }
}
@-webkit-keyframes line-main {
  0% {
    margin-left: 8.125rem;
  }
  20% {
    margin-left: 8.78125rem;
  }
  100% {
    margin-left: 0.78125rem;
  }
}
@keyframes line-main {
  0% {
    margin-left: 8.125rem;
  }
  20% {
    margin-left: 8.78125rem;
  }
  100% {
    margin-left: 0.78125rem;
  }
}

.reg-buttons-entry {
  font-family: "Mukta", sans-serif;
  color: #EEF8FB;
  width: 4.6875rem;
  height: 2rem;
  background-color: #0078D2;
  border: 4px solid #0078D2;
  border-radius: 4px;
  margin-right: 1rem;
}

.reg-buttons-registration {
  font-family: "Mukta", sans-serif;
  color: #EEF8FB;
  width: 7.5rem;
  border: 4px solid #00487E;
  border-radius: 4px;
  background-color: #00487E;
}

.avatar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.avatar .avatar-name {
  margin-left: 0.875rem;
  font-family: "Mukta", sans-serif;
  color: #EEF8FB;
}

main {
  padding: 1.875rem 0;
  background-color: #002033;
}

.recommendation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 6.25rem;
}
.recommendation .headline {
  padding-bottom: 1.875rem;
}
.recommendation .recommendation__table {
  color: #EEF8FB;
  font-family: "Montserrat", sans-serif;
}
.recommendation .recommendation__table table {
  border-collapse: collapse;
}
.recommendation .recommendation__table thead {
  font-size: 0.75rem;
  text-align: left;
}
.recommendation .recommendation__table thead tr th::first-letter {
  padding-left: 0.75rem;
}
.recommendation .recommendation__table thead tr th:last-child {
  padding-right: 0px;
  width: min(20vw, 14.375rem);
}
.recommendation .recommendation__table .line {
  width: 100%;
  height: 1px;
  background: rgba(246, 251, 253, 0.28);
}
.recommendation .recommendation__table tbody tr {
  width: 100%;
  height: 2.3125rem;
}
.recommendation .recommendation__table tbody tr:nth-child(odd) {
  background-color: rgba(246, 251, 253, 0.05);
}
.recommendation .recommendation__table tbody tr th {
  padding-right: min(5vh, 40px);
  padding-left: 0.3125rem;
  height: 100%;
  text-align: left;
}
.recommendation .recommendation__table tbody tr th:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.3125rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.3125rem;
}
.recommendation .recommendation__table tbody tr th button {
  height: 1.5rem;
  font-size: 0.75rem;
  padding: 0 0.25rem;
  margin-right: 0.625rem;
  background-color: #2563EB;
  border: 4px solid #2563EB;
  border-radius: 4px;
  color: #EEF8FB;
}

.reg-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
          box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
  background-color: #001A29;
  color: #EEF8FB;
}
.reg-menu .reg-buttons-entry {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reg-menu span {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

[class^=reg-menu__] {
  padding-bottom: 0.625rem;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
[class^=reg-menu__] input {
  display: block;
  margin: 0.3125rem;
}
[class^=reg-menu__] span:last-child {
  cursor: pointer;
  color: blue;
  -webkit-transition: 0.15s all linear;
  transition: 0.15s all linear;
}
[class^=reg-menu__] span:last-child:hover {
  color: blueviolet;
}

.reg-menu__entry .reg-buttons-entry {
  padding: 0 0.625rem;
}

.menu {
  background-color: #001A29;
  border-radius: min(4vw, 3.125rem);
  margin: 0 min(6vw, 10rem);
  padding: 0.9375rem 0px;
  font-family: "Titillium Web", sans-serif;
}
.menu .menu__headline {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu .menu__headline-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.25rem 0 4.75rem 0;
}
.menu .menu__headline-buttons input {
  width: calc(min(7vw, 3rem) * 11);
  height: 3.75rem;
  background: #002033;
  border: 1px solid rgba(246, 251, 253, 0.44);
  border-radius: 4px;
  color: #EEF8FB;
}
.menu .menu__headline-buttons input::-webkit-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.menu .menu__headline-buttons input::-moz-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.menu .menu__headline-buttons input:-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.menu .menu__headline-buttons input::-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.menu .menu__headline-buttons input::placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.menu .moderation,
.menu .add-site {
  margin: 0 7vw;
}
.menu .add-site {
  width: 10.625rem;
  height: 3.75rem;
  border-radius: 4px;
  border: none;
  font-size: 1.25rem;
  background: #0F9FFF;
  color: #EEF8FB;
}
.menu .menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.menu .menu__item {
  width: min(65vw, 26.25rem);
  background-color: #0C2B3D;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
          box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
  border-radius: 4px;
  padding: 8px;
}
.menu .menu__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  color: #EEF8FB;
}
.menu .menu__name {
  font-size: 20px;
}
.menu .menu__rate span:first-child,
.menu .menu__region span:first-child,
.menu .menu__ping span:first-child {
  color: #7F8CA9;
  font-size: 0.6875rem;
}
.menu .vuz-logo {
  width: 6.25rem;
  height: 6.25rem;
}
.menu .ping-bar {
  padding: 0.625rem;
}
.menu .ping-bar__state {
  height: 2.5rem;
}
.menu .ping-bar__item {
  width: min(1.2vw, 0.625rem);
  height: 2.5rem;
}
.menu .line {
  height: 1.5px;
  width: min(53vw, 21.25rem);
  margin-top: 0.625rem;
  background-color: #2E4984;
}
.menu .menu__buttons {
  padding-top: 0.9375rem;
  gap: 5px;
}
.menu .menu__buttons button:first-child {
  width: 1.875rem;
  height: 1.875rem;
  border: none;
  border-radius: 4px;
  background-color: #D09C17;
}
.menu .menu__buttons button:nth-child(2) {
  width: 7.5rem;
  height: 1.875rem;
  border: none;
  border-radius: 4px;
  background-color: #2563EB;
  color: #EEF8FB;
}
.menu .menu__buttons button:last-child {
  width: 1.875rem;
  height: 1.875rem;
  border: none;
  border-radius: 4px;
  background-color: #ED4546;
}

.cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px min(6vw, 10rem);
  padding: 5rem;
  padding-left: min(8vw, 5rem);
  background-color: #001A29;
  color: #EEF8FB;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}
.cabinet section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cabinet .avatar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.cabinet .avatar-icon {
  margin-right: 0.3125rem;
}
.cabinet .cabinet__private-info,
.cabinet .cabinet__contacts {
  margin-bottom: 2.5rem;
}
.cabinet .cabinet__headlines {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.cabinet .cabinet__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.cabinet [class^=cabinet__form-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cabinet [class^=cabinet__form-] span {
  padding-left: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.cabinet .cabinet__form-name,
.cabinet .cabinet__form-mail {
  margin-right: 5rem;
}
.cabinet .cabinet__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(max(20vw, 16.25rem), 20rem);
  height: 2.5rem;
  border: 2px solid #006AA9;
  border-radius: 4px;
}
.cabinet .cabinet__input input {
  width: 85%;
  height: 100%;
  padding-left: 1rem;
  border: none;
  font-size: 0.75rem;
  color: #EEF8FB;
  background-color: inherit;
}
.cabinet .cabinet__input svg {
  cursor: pointer;
}
.cabinet .cabinet__button-confirm {
  position: absolute;
  width: max(100px, 25%);
  left: 68%;
  height: 2.75rem;
  background-color: #0F9FFF;
  border: 1px solid #0F9FFF;
  border-radius: 4px;
  color: #EEF8FB;
}
.cabinet .cabinet__button-deny {
  position: absolute;
  width: max(94px, 25%);
  left: 70%;
  height: 2.75rem;
  background-color: #ED4546;
  border: 1px solid #ED4546;
  border-radius: 4px;
  color: #EEF8FB;
}
.cabinet .cabinet__sub {
  width: 18.125rem;
}
.cabinet .cabinet__sub-menu {
  padding-top: 1.25rem;
  background: #002033;
  border: 1px solid rgba(246, 251, 253, 0.28);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 3, 6, 0.08), 0px 8px 24px rgba(0, 3, 6, 0.32);
          box-shadow: 0px 4px 4px rgba(0, 3, 6, 0.08), 0px 8px 24px rgba(0, 3, 6, 0.32);
  border-radius: 0.25rem;
}
.cabinet .cabinet__sub-menu span:first-child {
  display: block;
  padding: 0px 0px 0.8125rem 0.8125rem;
  padding-bottom: 1.25rem;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: rgba(246, 251, 253, 0.6);
}
.cabinet .cabinet__sub-menu .line {
  width: 16.5625rem;
  height: 1px;
  margin: 0 auto 0.9375rem auto;
  background: rgba(246, 251, 253, 0.28);
}
.cabinet .cabinet__sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
.cabinet .cabinet__sub-delete {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  background-color: #ED4546;
  border: none;
  border-radius: 4px;
}
.cabinet .cabinet__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}
.cabinet .disturb-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.75rem;
  height: 1rem;
  margin-left: 0.5625rem;
  margin-right: 0.75rem;
  border: 1px solid rgba(246, 251, 253, 0.24);
  border-radius: 100rem;
}
.cabinet .disturb-checkbox__circle {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.125rem;
  background-color: rgba(246, 251, 253, 0.24);
  border-radius: 100rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.cabinet .active {
  background-color: #0078D2;
  border-color: #0078D2;
}
.cabinet .active .disturb-checkbox__circle {
  background-color: #fff;
  -webkit-transform: translate(105%);
          transform: translate(105%);
}
.cabinet .cabinet__warning {
  display: block;
  margin: 1.5rem 0.8125rem;
  color: #ED4546;
  text-align: center;
}

.monitoring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px min(6vw, 10rem);
  padding: 50px min(3vw, 7.5rem);
  background-color: #001A29;
  color: #EEF8FB;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}
.monitoring .monitoring__info {
  min-width: 19.375rem;
  margin-right: min(10vw, 7.5rem);
}
.monitoring .vuz-logo {
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 1.25rem;
}
.monitoring .monitoring__name {
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
}
.monitoring .monitoring__rate span:first-child,
.monitoring .monitoring__region span:first-child,
.monitoring .monitoring__time span:first-child {
  font-size: 1.125rem;
  color: #7F8CA9;
}
.monitoring .monitoring__rate span:last-child,
.monitoring .monitoring__region span:last-child,
.monitoring .monitoring__time span:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}
.monitoring .monitoring__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 0;
}
.monitoring .monitoring__buttons button {
  padding: 0px 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.125rem;
  color: #EEF8FB;
}
.monitoring .monitoring__buttons .monitoring__problem {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  margin-bottom: 1.25rem;
  background-color: #ED4546;
}
.monitoring .monitoring__buttons .monitoring__report {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  background-color: #D09C17;
}
.monitoring .monitoring__ping-answer > span:first-child,
.monitoring .monitoring__ping-report > span:first-child {
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
  padding: 0 min(3vw, 1.5rem);
}
.monitoring .monitoring__ping-bars {
  background: #002033;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
          box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
  border-radius: 4px;
}
.monitoring .ping-bar {
  margin: 0 min(3vw, 24px);
  padding: 1.5rem min(1.5vw, 4rem) 0.625rem min(1.5vw, 4rem);
}
.monitoring .ping-bar__state {
  max-width: 42rem;
  width: 40vw;
}
.monitoring .ping-bar,
.monitoring .ping-bar__state {
  overflow-x: auto;
}
.monitoring .ping-bar__item {
  min-width: 4px;
  width: min(1vw, 0.875rem);
  height: 5rem;
}
.monitoring .line {
  max-width: 42.5rem;
  width: 41vw;
  height: 2px;
  margin-top: 1.0625rem;
  background-color: #2E4984;
}
.monitoring .uptime,
.monitoring .reports {
  height: 1.75rem;
}

.comment {
  background: rgba(0, 22, 35, 0.85);
}
.comment .comment__write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 min(9vw, 24.0625rem) 3.75rem;
  gap: 30px;
  background-color: #002033;
}
.comment .comment__textarea {
  background-color: #0C2B3D;
  border: 1px solid rgba(246, 251, 253, 0.16);
  border-radius: 4px;
}
.comment .comment__textarea-write {
  width: 45vw;
  max-width: 56.25rem;
  padding: 0.6875rem 0.8125rem;
  border: none;
  background-color: #0C2B3D;
  color: #EEF8FB;
  resize: none;
  outline: 0;
  outline-offset: 0;
}
.comment .comment__textarea-write::-webkit-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.comment .comment__textarea-write::-moz-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.comment .comment__textarea-write:-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.comment .comment__textarea-write::-ms-input-placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.comment .comment__textarea-write::placeholder {
  color: rgba(246, 251, 253, 0.35);
}
.comment .comment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment .comment__send {
  width: 9.625rem;
  height: 3rem;
  border: none;
  padding: 0 1.5rem;
  margin-top: 1.25rem;
  font-size: 18px;
  background-color: #0F9FFF;
  color: #EEF8FB;
}
.comment .comment__users {
  margin: 2.5rem 0;
  padding: 0 min(9vw, 24.0625rem) 3.75rem;
}
.comment .comment__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.3125rem;
}
.comment .comment__user-avatar {
  width: 4rem;
  height: 4rem;
  background-color: #C3F07F;
  border-radius: 50%;
}
.comment .comment__user-avatar img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.comment .comment__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.6875rem;
  font-size: 1.125rem;
  font-family: "Mukta", sans-serif;
  color: #EEF8FB;
}
.comment .comment__user-mark span:first-child {
  font-size: 1rem;
  color: #7F8CA9;
}
.comment .comment__user-mark span:last-child {
  font-size: 1.25rem;
}
.comment .comment__user-text {
  min-height: 6.25rem;
  margin: 16px 0px;
  padding: 10px;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
          box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
  border-radius: 4px;
  font-family: "Mukta", sans-serif;
  font-size: 0.9375rem;
  background-color: #002033;
  color: #EEF8FB;
}

footer {
  background-color: #002033;
}

.show {
  display: none !important;
}

.dark-bg {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.offer-site,
.moderation-menu {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 85vw;
  min-width: 320px;
  max-width: 75rem;
  padding-top: 0.625rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 30px;
  background: #001A29;
}

.offer-site__inputs,
.moderation-menu__inputs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  z-index: 3;
  gap: 1.875rem;
  margin: 1.25rem 0px;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 1.875rem;
  border: 2px solid #006AA9;
  border-radius: 4px;
  padding-right: 0.3125rem;
}
.input-wrapper input {
  width: 95%;
  height: 1.25rem;
  margin-right: 0.3125rem;
  padding-left: 0.5rem;
  border: none;
  background-color: #001A29;
  color: #EEF8FB;
}

.input-headline {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #EEF8FB;
}

.offer-site__buttons,
.moderation-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1rem;
}

.button-sent {
  border: none;
  border-radius: 4px;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  background: #0F9FFF;
  color: #EEF8FB;
}

.button-add {
  border: none;
  border-radius: 4px;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  background: #3BA55C;
  color: #EEF8FB;
}

.button-close {
  border: none;
  border-radius: 4px;
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  background: #ED4546;
  color: #EEF8FB;
}

.moderation-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.moderation-menu__title .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 60%;
}
.moderation-menu__title div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 30%;
}

.moderation-menu__item {
  border-radius: 4px;
  margin: 0 5%;
  background: #002033;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
          box-shadow: 0px 8px 8px rgba(0, 3, 6, 0.08), 0px 12px 28px rgba(0, 3, 6, 0.32);
}
.moderation-menu__item input {
  background: #002033;
}

@media (min-width: 2200px) {
  html {
    font-size: calc(16px + 0.2vw) !important;
  }
}
@media (max-width: 1250px) {
  .logo .logo__text span {
    display: none !important;
  }
  .cabinet {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .cabinet .cabinet__forms {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .cabinet .monitoring .ping-bar__item {
    height: 60px !important;
  }
  .site-menu__wrapper,
.add-moderation__item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
@media (max-width: 992px) {
  .monitoring .ping-bar__item {
    height: 40px !important;
  }
  .comment__textarea-write {
    width: 70vw !important;
  }
  .menu__headline-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__headline-buttons button:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu__headline-buttons .add-site {
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .menu-buttons .menu-buttons__wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "main" "cabinet";
  }
  .menu-buttons .menu-buttons__main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: main;
    margin-bottom: 0.625rem;
  }
  .menu-buttons .menu-buttons__cabinet {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cabinet;
  }
  .menu-buttons .active {
    height: 1.25rem;
    color: #EEF8FB;
  }
  .menu-buttons .line {
    display: none;
  }
  .reg-buttons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .reg-buttons .reg-buttons-registration {
    display: none !important;
  }
  .menu {
    margin: 0 !important;
  }
  .monitoring .ping-bar__state {
    padding-left: 0.3125rem !important;
  }
  .cabinet * {
    margin-right: 0 !important;
  }
  .logo {
    padding-right: 10px !important;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 480px) {
  .menu-buttons .menu-buttons__wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "main" "cabinet";
  }
  .menu-buttons .menu-buttons__main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: main;
    margin-bottom: 0.625rem;
  }
  .menu-buttons .menu-buttons__cabinet {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cabinet;
  }
  @media (max-width: 767px) {
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  }
  @media (max-width: 480px) {
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  }
  .menu-buttons .active {
    height: 1.25rem;
    color: #EEF8FB;
  }
  .menu-buttons .line {
    display: none;
  }
  .reg-buttons {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .reg-buttons .reg-buttons-registration {
    display: none !important;
  }
  .menu {
    margin: 0 !important;
  }
  .monitoring .ping-bar__state {
    padding-left: 0.3125rem !important;
  }
  .cabinet * {
    margin-right: 0 !important;
  }
  .logo__icon {
    display: none;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .menu-buttons .menu-buttons__wrapper > .menu-buttons__cabinet {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}