%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
}

span,
h1,
h2,
tr {
    cursor: default
}

button {
    cursor: pointer;
}

.avatar-icon {
    background-color: #C3F07F;
    border-radius: 50%;
}

.headline {
    @extend %flex-center;
    font-size: min(7vw, 48px);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #EEF8FB;
}

// header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #001A29;
    gap: 10px;

    input {
        border: none;
        border: 1px solid rgba(246, 251, 253, 0.44);
        border-radius: 4px;
        margin-right: 10px;
        background-color: #002033;
        padding-left: 20px;
        color: rgba(246, 251, 253, 0.35);
    }
}

.logo {
    @extend %flex-center;
    flex-wrap: nowrap;

    @media (max-width:700px) {
        padding-right: 10px;
    }

    .logo__icon {
        width: 60px;
        height: 60px;
    }

    .logo__text {

        span:first-child {
            display: inline-block;
            height: 58px;
            font-size: 48px;
            line-height: 75px;
            font-family: 'Mukta', sans-serif;
            font-style: normal;
            letter-spacing: 0.7vw;
            color: #EEF8FB;

            @media (max-width:1100px) {
                display: none;
            }
        }

        span:last-child {
            display: inline-block;
            height: 20px;
            color: #006AA9;
            font-family: 'Montserrat', sans-serif;
            padding-left: 12px;

            @media (max-width:1100px) {
                display: none;
            }
        }
    }
}

.menu-buttons,
.reg-buttons {
    display: flex;
    flex-direction: row;
    color: #EEF8FB;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.menu-buttons {
    color: rgba(246, 251, 253, 0.6);

    .active {
        color: #EEF8FB
    }

    .menu_buttons__main {
        padding-right: 16px;
    }
}

.reg-buttons {

    @media (max-width: 700px) {
        .reg-buttons-registration {
            display: none;
        }
    }

    .reg-buttons-entry {
        font-family: "Mukta", sans-serif;
        color: #EEF8FB;
        width: 75px;
        height: 32px;
        background-color: #0078D2;
        border: 4px solid #0078D2;
        border-radius: 4px;
        margin-right: 16px;
    }

    .reg-buttons-registration {
        font-family: "Mukta", sans-serif;
        color: #EEF8FB;
        width: 120px;
        border: 4px solid #00487E;
        border-radius: 4px;
        background-color: #00487E;
    }
}

.avatar {
    @extend %flex-center;
    flex-direction: row;

    .avatar-name {
        margin-left: 14px;
        font-family: "Mukta", sans-serif;
        color: #EEF8FB;
    }
}

// рекомендуем!

main {
    padding: 30px 0;
    background-color: #002033;
}

.recommendation {
    @extend %flex-center;
    flex-direction: column;
    padding-bottom: 100px;

    .headline {
        padding-bottom: 30px;
    }

    .recommendation__table {
        @extend %flex-center;
        color: #EEF8FB;
        font-family: 'Montserrat', sans-serif;

        table {
            border-collapse: collapse;
        }

        thead {
            font-size: 12px;
            text-align: left;

            tr th {
                &::first-letter {
                    padding-left: 5px;
                }

                &:last-child {
                    padding-right: 0px;
                    width: min(20vw, 230px);
                }
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background: rgba(246, 251, 253, 0.28);
        }

        tbody {
            tr {
                width: 100%;
                height: 37px;

                &:nth-child(odd) {
                    background-color: rgba(246, 251, 253, 0.05);
                }

                th {
                    padding-right: min(5vh, 40px);
                    padding-left: 5px;
                    height: 100%;
                    text-align: left;

                    &:last-child {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        padding-right: 5px;
                    }

                    button {
                        height: 24px;
                        font-size: 12px;
                        padding: 0 4px;
                        margin-right: 10px;
                        background-color: #2563EB;
                        border: 4px solid #2563EB;
                        border-radius: 4px;
                        color: #EEF8FB;
                    }
                }
            }
        }
    }
}

// регистрация

.reg-menu {
    @extend %flex-center;
    flex-flow: column wrap;
}



.reg-menu span {
    display: block;
    text-align: center;
}

[class ^="reg-menu__"] {
    @extend %flex-center;
    padding-bottom: 10px;
    flex-flow: column wrap;

    input {
        display: block;
        margin: 5px;
    }

    span:last-child {
        cursor: pointer;
        color: blue;
        transition: 0.15s all linear;
    }

    span:last-child:hover {
        color: blueviolet;
    }

}

// Доступные сайты!

.menu {
    background-color: #001A29;
    border-radius: min(4vw, 50px);
    margin: 0 min(6vw, 160px);
    padding: 15px 0px;
    font-family: 'Titillium Web', sans-serif;

    @media (max-width: 500px) {
        margin: 0;
    }

    .menu__headline {
        @extend %flex-center;
        flex-direction: column;
    }

    .menu__list {
        @extend %flex-center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .menu__item {
        width: min(65vw, 420px);
        background-color: #0C2B3D;
        box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
        border-radius: 4px;
        padding: 8px;
    }

    .menu__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #EEF8FB;
    }

    .menu__name {
        font-size: 20px;
    }

    .menu__rate,
    .menu__region,
    .menu__ping {
        span:first-child {
            color: #7F8CA9;
            font-size: 11px;
        }
    }

    .menu__logo {
        background: #ffffff;
        padding: 0px 7.5px;
        border-radius: 50px;
    }

    // пинг бар

    .menu__ping-bar {
        @extend %flex-center;
        flex-direction: column;
        border: 2px solid #2E4984;
        gap: 3px;
        border-radius: 10px;
        padding: 10px;
    }

    .menu__state {
        display: flex;
        gap: 3px;
    }

    .ping-bar {
        width: 10px;
        height: 40px;
    }

    //для скрытия переполнения ячеек
    .menu__ping-bar,
    .menu__state {
        overflow-x: hidden;
    }

    .green {
        background-color: #3BA55C;
    }

    .yellow {
        background-color: #A59A3B;
    }

    .red {
        background-color: #A53B3B;
    }

    .line {
        height: 1.5px;
        width: min(53vw, 340px);
        margin-top: 10px;
        background-color: #2E4984;
    }

    .menu__uptime {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;

        span:first-child {
            color: #7F8CA9;
        }

        span:last-child {
            color: #ffffff;
        }
    }

    .menu__buttons {
        @extend %flex-center;
        padding-top: 15px;
        gap: 5px;

        button:first-child {
            @extend %flex-center;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 4px;
            background-color: #D09C17;
        }

        button:nth-child(2) {
            @extend %flex-center;
            width: 120px;
            height: 30px;
            border: none;
            border-radius: 4px;
            background-color: #2563EB;
            color: #EEF8FB;
        }

        button:last-child {
            @extend %flex-center;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 4px;
            background-color: #ED4546;
        }
    }
}

// личный кабинет

.cabinet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px min(6vw, 160px);
    padding: 80px;
    padding-left: min(8vw, 80px);
    background-color: #001A29;
    color: #EEF8FB;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;

    @media (max-width:1330px) {
        flex-direction: column;
    }

    section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .cabinet__private-info,
    .cabinet__contacts {
        margin-bottom: 40px;
    }

    .cabinet__headlines {
        display: block;
        margin-bottom: 24px;
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
    }

    .cabinet__forms {
        display: flex;
        flex-direction: row;
        justify-content: start;

        @media (max-width:1000px) {
            flex-direction: column;
        }
    }

    [class ^="cabinet__form-"] {
        display: flex;
        justify-content: start;
        flex-direction: column;

        span {
            padding-left: 15px;
            font-size: 24px;
            font-weight: 400;
        }
    }

    .cabinet__form-name,
    .cabinet__form-mail {
        margin-right: 80px;
    }

    .cabinet__input {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: min(max(20vw, 260px), 320px);
        height: 40px;
        border: 2px solid #006AA9;
        border-radius: 4px;

        input {
            width: 85%;
            height: 100%;
            padding-left: 16px;
            border: none;
            font-size: 12px;
            color: #EEF8FB;
            background-color: inherit;
            outline: 0;
            outline-offset: 0;
        }

        svg {
            cursor: pointer;
        }
    }

    .cabinet__button-confirm {
        position: absolute;
        width: max(100px, 25%);
        left: 65.5%;
        height: 44px;
        background-color: #0F9FFF;
        border: 1px solid #0F9FFF;
        border-radius: 4px;
        color: #EEF8FB;
    }

    .cabinet__button-deny {
        position: absolute;
        width: max(94px, 25%);
        left: 68.5%;
        height: 44px;
        background-color: #ED4546;
        border: 1px solid #ED4546;
        border-radius: 4px;
        color: #EEF8FB;
    }

    .cabinet__sub {
        width: 290px;
    }

    .cabinet__sub-menu {
        padding-top: 20px;
        background: #002033;
        border: 1px solid rgba(246, 251, 253, 0.28);
        box-shadow: 0px 4px 4px rgba(0, 3, 6, 0.08), 0px 8px 24px rgba(0, 3, 6, 0.32);
        border-radius: 4px;

        span:first-child {
            display: block;
            padding: 0px 0px 13px 13px;
            padding-bottom: 20px;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            color: rgba(246, 251, 253, 0.6);
        }

        .line {
            width: 265px;
            height: 1px;
            margin: 0 auto 15px auto;
            background: rgba(246, 251, 253, 0.28);
        }
    }

    .cabinet__sub-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 8px;
        margin-bottom: 32px;
        font-size: 18px;
    }

    .cabinet__sub-delete {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-color: #ED4546;
        border: none;
        border-radius: 4px;
    }

    .cabinet__checkbox-wrapper {
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .disturb-checkbox {
        display: flex;
        align-items: center;
        width: 28px;
        height: 16px;
        margin-left: 9px;
        margin-right: 12px;
        border: 1px solid rgba(246, 251, 253, 0.24);
        border-radius: 100px;
    }

    .disturb-checkbox__circle {
        width: 12px;
        height: 12px;
        margin: 2px;
        background-color: rgba(246, 251, 253, 0.24);
        border-radius: 100px;
        transition: 0.5s all ease;
    }

    .active {
        background-color: #0078D2;
        border-color: #0078D2;

        .disturb-checkbox__circle {
            background-color: #fff;
            transform: translate(105%);
        }
    }

    .cabinet__warning {
        display: block;
        margin: 24px 13px;
        color: #ED4546;
        text-align: center;
    }
}

.show {
    display: none !important;
}